{% extends 'base.html.twig' %}

{% block title %}Characters{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto p-6"
         data-controller="character-list"
         data-character-list-loading-message-value="Loading characters..."
         data-character-list-error-message-value="Sorry, there was an error loading the characters.">

        <div class="mb-8">
            <h1 class="text-2xl font-bold mb-4">Select a Dimension</h1>
            <select
                data-character-list-target="select"
                data-action="change->character-list#onChange"
                class="w-full p-2 border rounded-lg">
                <option value="">-- Select a Dimension --</option>
                {% for dimension in dimensions %}
                    <option value="{{ dimension.id }}">{{ dimension.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div data-character-list-target="list" class="character-list">
            <!-- Characters will be rendered here -->
        </div>
    </div>
{% endblock %}

